In [70]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.patches as patches
from sklearn.metrics import roc_curve,auc
import pickle
import ast
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
from bs4 import BeautifulSoup
import re,string,unicodedata

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from string import punctuation
from nltk import pos_tag
from nltk.corpus import wordnet

import tensorflow as tf
from collections import Counter
from itertools import chain
from collections import Counter
import seaborn as sns
import joblib
from scipy import interp
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re
from wordcloud import WordCloud
import liwc
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer, HashingVectorizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import nltk
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB
import itertools
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import warnings
warnings.filterwarnings("ignore")
from gensim.models import Word2Vec

In [52]:
liwcPath = r'LIWC2015 Dictionary.dic'
parse, category_names = liwc.load_token_parser(liwcPath)

# read csv

In [53]:
import pandas as pd
df=pd.read_csv(r'Fake and real news dataset\Fake.csv')
df['Class']=1
#df1=pd.read_csv(r'Fake News\train.csv')
#df2=pd.read_csv(r'Fake News\test.csv')
#df3=pd.read_csv(r'Fake News detection\data.csv')
df4=pd.read_csv(r'Fake and real news dataset\True.csv')
df4['Class']=0

# processing data

In [54]:
df_fake_ds=pd.concat([df,df4]).drop(['title','subject','date'],axis=1)

In [5]:
df_fake1_ds=df1.drop(['id','title','author'],axis=1).rename({'label':'Label'},axis=1)

NameError: name 'df1' is not defined

In [6]:
df_fake2_ds=df3.drop(['URLs','Headline'],axis=1).rename({'Body':'text'},axis=1)

NameError: name 'df3' is not defined

In [55]:
fake_news_Df=pd.concat([df_fake_ds,df_fake1_ds,df_fake2_ds])

In [56]:
fake_news_Df

                                                    text  Class
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[44898 rows x 2 columns]

In [57]:
fake_news_Df = fake_news_Df.dropna()
fake_news_Df.reset_index(inplace = True)

In [58]:
fake_news_Df

       index                                               text  Class
0          0  Donald Trump just couldn t wish all Americans ...      1
1          1  House Intelligence Committee Chairman Devin Nu...      1
2          2  On Friday, it was revealed that former Milwauk...      1
3          3  On Christmas day, Donald Trump announced that ...      1
4          4  Pope Francis used his annual Christmas Day mes...      1
...      ...                                                ...    ...
44893  21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
44894  21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
44895  21414  MINSK (Reuters) - In the shadow of disused Sov...      0
44896  21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
44897  21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[44898 rows x 3 columns]

In [59]:
def clean_train_data(x):
    text = x
    text = text.lower()
    text = re.sub('\[.*?\]', '', text) # remove square brackets
    text = re.sub(r'[^\w\s]','',text) # remove punctuation
    text = re.sub('\w*\d\w*', '', text) # remove words containing numbers
    text = re.sub(r'http\S+', '', text)
    text = re.sub('\n', '', text)
    return text

In [60]:
fake_news_Df['text'] = fake_news_Df.text.apply(lambda x : clean_train_data(x))

### Stopword Removal

In [61]:
eng_stopwords = nltk.corpus.stopwords.words("english")

In [62]:
def remove_eng_stopwords(text):
    token_text = nltk.word_tokenize(text)
    remove_stop = [word for word in token_text if word not in eng_stopwords]
    join_text = ' '.join(remove_stop)
    return join_text

In [63]:
fake_news_Df['text'] = fake_news_Df.text.apply(lambda x : remove_eng_stopwords(x))

In [64]:
fake_news_Df['text']

0        donald trump wish americans happy new year lea...
1        house intelligence committee chairman devin nu...
2        friday revealed former milwaukee sheriff david...
3        christmas day donald trump announced would bac...
4        pope francis used annual christmas day message...
                               ...
44893    brussels reuters nato allies tuesday welcomed ...
44894    london reuters lexisnexis provider legal regul...
44895    minsk reuters shadow disused sovietera factori...
44896    moscow reuters vatican secretary state cardina...
44897    jakarta reuters indonesia buy sukhoi fighter j...
Name: text, Length: 44898, dtype: object

## Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
lemm = WordNetLemmatizer()
def word_lemmatizer(text):
    token_text = nltk.word_tokenize(text)
    remove_stop = [lemm.lemmatize(w) for w in token_text]
    join_text = ' '.join(remove_stop)
    return join_text

In [72]:
stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)

In [73]:
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)
# Removing URL's
def remove_between_square_brackets(text):
    return re.sub(r'http\S+', '', text)
#Removing the stopwords from text
def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stop:
            final_text.append(i.strip())
    return " ".join(final_text)
#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    text = remove_stopwords(text)
    return text

In [74]:
fake_news_Df['text'] = fake_news_Df.text.apply(lambda x : denoise_text(x))

In [75]:
fake_news_Df['text']

0        donald trump wish americans happy new year lea...
1        house intelligence committee chairman devin nu...
2        friday revealed former milwaukee sheriff david...
3        christmas day donald trump announced would bac...
4        pope francis used annual christmas day message...
                               ...
44893    brussels reuters nato allies tuesday welcomed ...
44894    london reuters lexisnexis provider legal regul...
44895    minsk reuters shadow disused sovietera factori...
44896    moscow reuters vatican secretary state cardina...
44897    jakarta reuters indonesia buy sukhoi fighter j...
Name: text, Length: 44898, dtype: object

In [97]:
corpus = []
words = []
for i in range(0,len(fake_news_Df)):
    review = re.sub('[^a-zA-Z0-9]',' ',fake_news_Df['text'][i])
    review = review.lower()
    #review = review.split()
    review = list(Counter(category for token in review for category in parse(token)))
    statements = ' '.join(review)
    corpus.append(statements)
    words.append(review)

In [98]:
count_test = CountVectorizer(max_features=93).fit(corpus)
X_test_count = count_test.fit_transform(corpus).toarray()
df_count = pd.DataFrame(X_test_count,columns = count_test.get_feature_names())

In [99]:
df_count

       article  assent  function  informal  netspeak  ppron  pronoun  you
0            1       1         1         1         1      1        1    1
1            1       1         1         1         1      1        1    1
2            1       1         1         1         1      1        1    1
3            1       1         1         1         1      1        1    1
4            1       1         1         1         1      1        1    1
...        ...     ...       ...       ...       ...    ...      ...  ...
44893        1       1         1         1         1      1        1    1
44894        1       1         1         1         1      1        1    1
44895        1       1         1         1         1      1        1    1
44896        1       1         1         1         1      1        1    1
44897        1       1         1         1         1      1        1    1

[44898 rows x 8 columns]

In [100]:
x=X_test_count

In [101]:
y=fake_news_Df.Class.values

In [102]:
counter = Counter(y)
print(counter)

Counter({1: 23481, 0: 21417})

In [103]:
oversample = SMOTE(random_state = 101)
x, y = oversample.fit_resample(x, y)

In [104]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [105]:
X_train

array([[1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1]], dtype=int64)

In [106]:
# get a list of models to evaluate
def get_models():
    models = dict()
    models['lr'] = LogisticRegression()
    models['knn'] = KNeighborsClassifier()
    models['cart'] = DecisionTreeClassifier()
    models['svm'] = SVC()
    models['NN']=MLPClassifier()
    models['RF']=RandomForestClassifier()
    return models

In [ ]:

# get the models to evaluate
models = get_models()
# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    result=model.score(X_test, y_test)
    results.append(result)
    names.append(name)
    filename = '{}_model.sav'.format(name)
    joblib.dump(model, filename)
    print('classification name is',name)
    
    
print(names)
print(results)

classification name is lr
classification name is knn
classification name is cart

In [267]:
kfolds = KFold(n_splits=10, shuffle=True)

----------troll------------
lr non-scaled:  0.59
--------------------------------
knn non-scaled:  0.45
--------------------------------
cart non-scaled:  0.32
--------------------------------
svm non-scaled:  0.66
--------------------------------
NN non-scaled:  0.6
--------------------------------
RF non-scaled:  0.32
--------------------------------

----------troll------------
lr non-scaled:  0.41
--------------------------------
knn non-scaled:  0.55
--------------------------------
cart non-scaled:  0.68
--------------------------------
svm non-scaled:  0.34
--------------------------------
NN non-scaled:  0.4
--------------------------------
RF non-scaled:  0.68
--------------------------------

In [19]:
#https://www.kaggle.com/klmsathishkumar/validate-the-news-here-lstm-90-accuracy
#https://www.kaggle.com/snanilim/100-accuracy-is-this-title-fake-or-real/notebook#N-Gram-Analysis
#https://www.kaggle.com/atishadhikari/fake-news-cleaning-word2vec-lstm-99-accuracy