In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.patches as patches
from sklearn.metrics import roc_curve,auc
import pickle
import seaborn as sns
import joblib
from scipy import interp
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re
from wordcloud import WordCloud
import liwc
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer, HashingVectorizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import nltk
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB
import itertools
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import warnings
warnings.filterwarnings("ignore")
from gensim.models import Word2Vec
from sklearn.linear_model import PassiveAggressiveClassifier,LogisticRegression
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import Embedding,LSTM,Dense,Dropout
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential

In [2]:
liwcPath = r'LIWC2015 Dictionary.dic'
parse, category_names = liwc.load_token_parser(liwcPath)

# read csv

In [13]:
import pandas as pd
df=pd.read_csv(r'Fake and real news dataset\Fake.csv')
df1=pd.read_csv(r'Fake News\train.csv')
#df2=pd.read_csv(r'Fake News\test.csv')
df3=pd.read_csv(r'Fake News detection\data.csv')
df4=pd.read_csv(r'Fake and real news dataset\True.csv')

# processing data

In [14]:
df_fake_ds=pd.concat([df,df4]).drop(['title','subject','date'],axis=1)

In [15]:
df_fake1_ds=df1.drop(['id','title','author'],axis=1).rename({'label':'Label'},axis=1)

In [16]:
df_fake2_ds=df3.drop(['URLs','Headline'],axis=1).rename({'Body':'text'},axis=1)

In [17]:
fake_news_Df=pd.concat([df_fake_ds,df_fake1_ds,df_fake2_ds])

In [18]:
fake_news_Df

                                                   text  Label
0     Donald Trump just couldn t wish all Americans ...    NaN
1     House Intelligence Committee Chairman Devin Nu...    NaN
2     On Friday, it was revealed that former Milwauk...    NaN
3     On Christmas day, Donald Trump announced that ...    NaN
4     Pope Francis used his annual Christmas Day mes...    NaN
...                                                 ...    ...
4004  Trends to Watch\n% of readers think this story...    0.0
4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...    0.0
4006                                                NaN    0.0
4007  SHANGHAI (Reuters) - China said it plans to ac...    1.0
4008  Vice President Mike Pence Leaves NFL Game Beca...    0.0

[69707 rows x 2 columns]

In [19]:
fake_news_Df = fake_news_Df.dropna()
fake_news_Df.reset_index(inplace = True)

In [20]:
fake_news_Df

       index                                               text  Label
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...    1.0
1          1  Ever get the feeling your life circles the rou...    0.0
2          2  Why the Truth Might Get You Fired October 29, ...    1.0
3          3  Videos 15 Civilians Killed In Single US Airstr...    1.0
4          4  Print \nAn Iranian woman has been sentenced to...    1.0
...      ...                                                ...    ...
24744   4003  Vietnam Is in Great Danger, You Must Publish a...    0.0
24745   4004  Trends to Watch\n% of readers think this story...    0.0
24746   4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...    0.0
24747   4007  SHANGHAI (Reuters) - China said it plans to ac...    1.0
24748   4008  Vice President Mike Pence Leaves NFL Game Beca...    0.0

[24749 rows x 3 columns]

In [21]:
corpus = []
words = []
for i in range(0,len(fake_news_Df)):
    review = re.sub('[^a-zA-Z0-9]',' ',fake_news_Df['text'][i])
    review = review.lower()
    review = review.split()
    review = list(Counter(category for token in review for category in parse(token)))
    statements = ' '.join(review)
    corpus.append(statements)
    words.append(review)

NameError: name 'df_test' is not defined

In [257]:
count = CountVectorizer(max_features=93,ngram_range=(1,3))
X_count = count.fit_transform(corpus).toarray()

In [258]:
df_count = pd.DataFrame(X_count,columns = count.get_feature_names())
df_count

,achiev,adj,adj compare,adverb,affect,affect negemo,affect posemo,affiliation,anger,anx,...,social,space,tentat,they,time,verb,verb focuspresent,we,work,you
0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,0,1,1,1,1,...,1,1,0,1,1,1,0,0,1,0
2,1,1,0,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,0
3,1,1,1,1,1,0,1,1,0,0,...,1,1,1,0,1,1,1,0,1,1
4,1,1,0,1,1,0,1,1,0,0,...,1,1,0,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5188,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,0,1,1,1
5189,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,1,1,0
5190,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
5191,1,1,0,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5192,1,1,0,1,1,1,0,1,1,1,...,1,1,1,1,1,1,0,1,1,1

In [263]:
X=df_count

In [260]:
y=fake_news_Df.Label.values

In [224]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [227]:
X_train

,achiev,adj,adj compare,adverb,affect,affect negemo,affect posemo,affiliation,anger,anx,...,tentat,they,time,verb,verb focuspresent,we,work,you,you informal,you informal netspeak
33670,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
19331,1,1,0,1,1,1,0,1,1,1,...,1,1,1,1,1,0,1,1,0,0
14006,0,1,0,1,1,1,0,1,1,1,...,1,1,1,1,0,1,0,0,0,0
63915,1,1,0,1,1,0,1,1,1,1,...,1,1,1,1,0,1,1,0,0,0
46068,1,1,0,1,1,0,1,1,1,1,...,1,1,1,1,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37194,1,1,0,1,1,0,1,1,1,0,...,1,1,1,1,0,1,1,0,0,0
6265,1,1,0,1,1,1,0,1,1,0,...,1,0,1,1,0,0,1,1,0,0
54886,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
860,1,1,0,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,0,0
15795,1,1,1,1,1,1,0,1,0,0,...,1,0,1,1,0,1,1,1,1,1

In [229]:
# get a list of models to evaluate
def get_models():
    models = dict()
    models['lr'] = LogisticRegression()
    models['knn'] = KNeighborsClassifier()
    models['cart'] = DecisionTreeClassifier()
    models['svm'] = SVC()
    models['NN']=MLPClassifier()
    models['RF']=RandomForestClassifier()
    return models

In [232]:

# get the models to evaluate
models = get_models()
# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    result=model.score(X_test, y_test)
    results.append(result)
    names.append(name)
    filename = '{}_model.sav'.format(name)
    joblib.dump(model, filename)
    print('classification name is',name)
    
    
print(names)
print(results)

classification name is lr
classification name is knn
classification name is cart
classification name is svm
classification name is NN
classification name is RF
['lr', 'knn', 'cart', 'svm', 'NN', 'RF']
[0.7319454414931802, 0.7249581239530988, 0.7191672648959081, 0.7725771715721464, 0.7558746111509931, 0.7932998324958124]

In [267]:
#----------troll------------
print('----------troll------------')
models = get_models()

X['Labels']=1
x= X.drop(['Labels'],axis=1)
y= X.Labels.values

for name, model in models.items():
    

    filename = '{}_model.sav'.format(name)
    # load the model from disk
    loaded_model = joblib.load(filename)

    result = loaded_model.score(x,y)
    print('{} non-scaled: '.format(name),round(result,2))

    print('--------------------------------')

----------troll------------
lr non-scaled:  0.59
--------------------------------
knn non-scaled:  0.45
--------------------------------
cart non-scaled:  0.32
--------------------------------
svm non-scaled:  0.66
--------------------------------
NN non-scaled:  0.6
--------------------------------
RF non-scaled:  0.32
--------------------------------

In [268]:
#----------troll------------
print('----------troll------------')
models = get_models()

X['Labels']=0
x= X.drop(['Labels'],axis=1)
y= X.Labels.values

for name, model in models.items():
    

    filename = '{}_model.sav'.format(name)
    # load the model from disk
    loaded_model = joblib.load(filename)

    result = loaded_model.score(x,y)
    print('{} non-scaled: '.format(name),round(result,2))

    print('--------------------------------')

----------troll------------
lr non-scaled:  0.41
--------------------------------
knn non-scaled:  0.55
--------------------------------
cart non-scaled:  0.68
--------------------------------
svm non-scaled:  0.34
--------------------------------
NN non-scaled:  0.4
--------------------------------
RF non-scaled:  0.68
--------------------------------